<article id="hunting">
    <header>
        <nav class="topbar">
            <button class="back" (click)="goToMission()"></button>
        </nav>
    </header>
    <div class="map">
        <ol>
            <exploration-checkpoint-spot *ngFor="let checkpoint of exploration.mission.checkpoints" 
                                         [exploration]="exploration" 
                                         [checkpointSlug]="checkpoint.slug">
            </exploration-checkpoint-spot>
        </ol>
    </div>
</article>