<article id="hunting">
    <header>
        <nav class="topbar">
            <button class="back" (click)="goToMission()"></button>
        </nav>
    </header>
    <div class="map">
        <ol>
            <li class="completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> Le sauna</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> Le Hammam</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> La petite hollandaise</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> La petite allemande</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> La trompée</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> Premier tableau</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> Ha oui... ok</p>
            </li>
            <li class="not-completed">
                <a routerLink="/explorations/test-test/checkpoints/test-test">
                    <img src="assets/images/missions/not-completed-big.jpg" alt="">
                </a>
                <p><span>10 m</span><br> La masquotte</p>
            </li>
        </ol>
    </div>
</article>