// ANIMATIONS

em {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
}

.in-transition {
	transition: transform 900ms ease;
}
