// ANIMATIONS

main, #logo, header, article, footer, nav, svg, .bg, img, h1, h2, h3, p, .call-to-action {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
}

.in-transition {
	transition: transform 900ms ease;
}
