// MISSIONS

#missions {
  li:first-child {
    a {
      padding: 60px $gutters 40px; 
    }
  }
  li+li {
    border: 0.5px solid $white;
    border-width: 0.5px 0 0 0;
  }
  a {
    display: block;
    padding: 40px $gutters;
    background-color: transparentize($black, .4);
  }
  h2 {
    span {
    padding-left: 14px;
  }
  span:first-child {
    background: url(../images/geo.svg) no-repeat left center;
    background-size: 10px;
    &+span{
      background: url(../images/badge.svg) no-repeat left center;
      background-size: 10px;
      margin-left: 14px;
      &+span{
        background: url(../images/flag.svg) no-repeat left center;
        background-size: 10px;
        margin-left: 14px;
      }
    }
  }
  }
}
