html {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  letter-spacing: .01em;
}

a {
  text-decoration: none;
  color: $font-grey;
}

h1 {
  color: $white;
  font-size: 1.2rem;
}

h2 {
  margin-top: 10px;
  color: $white;
  font-size: .8rem;
  font-weight: 300;
}

h3 {
  margin-top: 10px;
  color: $white;
  font-size: .9rem;
  font-weight: 300;
  span {
    padding-left: 14px;
  }
  span:first-child {
    background: url(../images/geo.svg) no-repeat left center;
    background-size: 10px;
    &+span {
      background: url(../images/badge.svg) no-repeat left center;
      background-size: 10px;
      margin-left: 14px;
      &+span {
        background: url(../images/flag.svg) no-repeat left center;
        background-size: 10px;
        margin-left: 14px;
      }
    }
  }
}

// TOP BAR

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 18px 18px 18px;
  h1 {
    padding-right: 36px;
    flex-grow: 2;
    text-align: center;
    font-size: 1.5rem;

    color: $white;
  }
}

.back {
  position: relative;
  border: none;
  padding: 10px;
  line-height: 0;
  background: none;
  &:before {
    display: inline-block;
    @include rotate(45deg);
    width: 14px;
    height: 14px;
    border: 2px solid $white;
    border-width: 0 0 2px 2px;
    content: '';
  }
  &:after {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    @include border-radius(50%);
    content: '';
    background-color: transparentize($white, .9);
  }
  &:active {
    background: none;
    &:after {
      opacity: 1;
    }
  }
}

.close {
  position: relative;
  border: none;
  width: 26px;
  height: 26px;
  line-height: 0;
  background: none;
  &:before, &:after {
    position: absolute;
    top: 0;
    left: 12px;
    display: block;
    @include rotate(45deg);
    width: 2px;
    height: 26px;
    content: '';
    background-color: $white;
  }
  &:after {
    @include rotate(-45deg);
  }
  &:active {
    background: none;
    &:after {
      opacity: 1;
    }
  }
}

// PAGES

article {
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}

article::-webkit-scrollbar { 
  width: 0 !important;
}

#splash {
  background: $black url(../images/logo.png) no-repeat center 40%;
  background-size: 150px;
  span {
    position: absolute;
    z-index: 40;
    bottom: calc(20% - 25px);
    left: calc(50% - 25px);
    display: inline-block;
    width: 50px;
    height: 50px;
    &:before {
      position: absolute;
      top: calc(50% - 13px);
      left: calc(50% - 13px);
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      @include border-radius(14px);
      border: 3px solid transparentize($white, .7);
      border-right-color: $white;
    }
  }
}
